/*
 * adapt-navigationDrawer
 * License - https://github.com/JeromeLam/adapt-navigationDrawer/blob/master/LICENSE
 * Maintainers - Jerome Lam <jerome.lam@gmail.com>
 */

 // Styling navigation drawer.
 @navigationDrawer-height: 50px;
 @navigationDrawer-height-mobile: 0px;
 @navigationDrawer-bg-color: @primary-color;
 @navigationDrawer-border: @navigation-border;

.navigationDrawer {

    position: fixed;
    z-index: 200;

    height: @navigationDrawer-height;
    width: 100%;

    background-color: @navigationDrawer-bg-color;

    color: @foreground-color;

    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform,left,right;
    -webkit-backface-visibility: hidden;

    &.open-from-top {
        transform: translateY(@navigationDrawer-height);
    }
    &.open-from-bottom {
        transform: translateY(-1 * @navigationDrawer-height);
    }
    &.active {
      &.open-from-top, &.open-from-bottom {
          transform: translateY(0px);
      }
    }

    .navigationDrawer-inner {
        display: block;
        padding: 5px;
    }
}
